<?xml version="1.0" encoding="UTF-8"?>
<block
    name="Server" 
    uuid="_4Vcm4e2WEeSt27tInGX10A" 
    status="under construction" 
    type="system" 
    >
    <required>
        <package name="com.bitreactive.library.mqtt"/>
        <package name="com.bitreactive.library.mqtt.robustmqtt"/>
        <package name="no.ntnu.ttm4115.hhh.server.server.component"/>
        <block name="b0" uuid="_CDPgcD5UEeSLNMcFh65MeQ"/>
    </required>
</block>